#to detect these files, i used in the gitbash consolo this line "find . -size +1G | cat >> .gitignore"
#it automatically search the files over 50 megas in the repo
#and added them to the .gitignore file

./emotional-mining/.ipynb_checkpoints/emotional-mining-twitter-v01-checkpoint.ipynb
./emotional-mining/dfs/df_used/df_tweets_evo-morales_emotions_spanish_cleaned.csv
./emotional-mining/dfs/df_used/twitter_bolivia_emotions_spanish_cleaned.csv
./emotional-mining/emotional-mining-twitter/df_tweets_bolivia_spanish.csv
./emotional-mining/emotional-mining-twitter/df_tweets_bolivia_spanish.json
./emotional-mining/emotional-mining-twitter/df_tweets_evo-morales_emotions_spanish.csv
./emotional-mining/emotional-mining-twitter/df_tweets_evo-morales_emotions_spanish_cleaned.csv
./emotional-mining/emotional-mining-twitter/df_tweets_evo-morales_spanish.csv
./emotional-mining/emotional-mining-twitter/twitter_bolivia_emotions.csv
./emotional-mining/emotional-mining-twitter/twitter_bolivia_emotions_spanish.csv
./emotional-mining/emotional-mining-twitter/twitter_bolivia_emotions_spanish_cleaned.csv
./emotional-mining/obsolete/emotional-mining-twitter-v01.ipynb
./twitter-scrapper/df_tweets_bolivia_spanish.json
./twitter-scrapper/tweets_bolivia/df_tweets_bolivia_spanish.csv
./twitter-scrapper/tweets_evo_morales/df_tweets_evo-morales_spanish.csv
